<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/motocicleta.png" type="image.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/media.css">
    <title> Hornet -  Dream </title>
</head>
<body>

    <header>
        <div id="title">
           <h1>Hornet</h1>
           <h1 class="title_h1">Dream</h1>
        </div>
     
        <ul>
           <li><a href="/">Inicio</a></li>
           <li><a href="/historia">Historia</a></li>
           <li><a href="/corteGiro">Corte de Giro</a></li>
           <li><a href="/contato">Contato</a></li>
           <li><a href="/login" id="subButton">Já tem uma conta?</a></li>
         </ul>
    </header>

    <main class="main-contato">
        <aside>
            <form id="form" method="post">
                <h3>Fale-Conosco</h3>
                <input type="text" name="name" id="name" placeholder="Nome" required>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="text" name="phone" id="phone" placeholder="Telefone">
                <input type="text" name="assunto" id="assunto" placeholder="Assunto">
                <textarea name="msg" id="msg" placeholder="Mensagem"></textarea>
                <input type="submit" class="inputForm" id="inputSub" value="Enviar">
                <input type="reset" class="inputForm" value="Cancelar">
                
            </form>
        </aside>

        <article>
            <section>
                <div class="wrap_contact">
                    <div class="place">
                       <h3>Informações de Contato</h3>
                        <div class="title-info">
                           <span>
                             <h5>Telefone</h5>
                           </span>
                           <p>(079)23456785</p>
                        </div>
                        <div class="title-info">
                           <span>
                            <h5>E-mail</h5>
                           </span>
                           <p>hornet_dream@gmail.com</p>
                        </div>
                        <div class="title-info">
                            <span>
                             <h5>Endereço</h5>
                            </span>
                            <p>Avenida José de Junho - CEP:0000000 <br>
                              Tobias Barreto - SE
                            </p>
                        </div>
                
                        <div class="info-redes-socias">
                          <img src="../images/mapa.jpg" alt="">

                          <span><h4>Redes Socias</h4></span> 
                          <div class="lista-redes-sociais">
                              <a href="">
                                 <img src="../images/face-img.svg" alt="">
                              </a>
                              <a href="">
                                 <img src="../images/insta-img.svg" alt="">
                              </a>
                              <a href="">
                                 <img src="../images/youtube-symbol.svg" alt="">
                              </a>
                          </div>
                        </div>
                    </div>
                </div>
            </section>    
        </article>
       
    </main>

    <footer>
        <div class="rodape">
            <span>&copy;Hornet Dream - 2021 | Todos os direitos reservados.</span>
            <span>Imagens meramente ilustrativas.</span>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
</body>
</html>